body {
    margin: 0;
    font-family: "Varela Round";
    overflow-x: hidden;
}

/* header {
    min-height: 200px;
    background-image: url(fondolanding.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
} */


.encabezado{
  height: 100vh;
  background-image: url(fondoprincipal.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.encabezado h1{
  color: white;
  max-width: 550px;
  text-align: center;
  z-index: 1;
}

.encabezado .capa{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0,0,0,.56);
}

.primera {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.primera-text{
  width: 70%;
  max-width: 450px;

}

.primera-image{
  width: 20%;
}

.primera-boton{
  position: absolute;
  bottom: 0;
  right: 0;
}

.primera-boton img{
  width: 100px;
  cursor: pointer;
}

.oferta {
    background: #029097;
    color: white;
    min-height: 400px;
    text-align: center;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.appcarta {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-image: url(fondo6eter.png);
    background-size: cover;
}

.appcarta div{
        padding: 10px;
        margin: 10px;
        width: 50%;
       
}

.plan {
  border-radius: 30px;
  border: 1px solid grey
  
}

.plan .caja-beneficios{
  padding: 10px;
}

 .plan .caja-beneficios img{
    width: 30px;
}



.modelos {
    text-align: center;
    min-height: 400px;
}

.modelos .modelo {
  height: 100%;
  font-size: 20px;

}
.modelos .modelo span{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 6px white;
}

.modelos .modelo img {
    width: 200px;

}

.modelo p{
  margin: 0;
}

.plan {
  position: relative;
}

.plan #precio {
  position: absolute;
    top: 0;
    right: -40px;
    /* background: orange; */
    padding: 10px;
    border-radius: 30px;
    color: white;
    width: 125px;
}

.plan #demo:hover {
  background-color: #30EDCA;
  box-shadow: 0px 0px 10px 6px #30EDCA;
  font-size: 25px;
}

.video {
    background-image: url(fondo7eter.png);
    background-size: cover;
    padding: 10px;
    margin: 10px;
}


.video button{
    border: none;
    border-radius: 30px;
    background: #029097;
    color: white;
    font-size: 19px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    margin: 1px auto -40px;
    display: block;
    
}

.video h2{
  min-height: 100px;
}

.video .buttom-box {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    margin-top: 40px;
}

.preguntas {
    display: flex; 
    padding: 10px;
    /* margin : 10px; */
    width: 100%;
    background: #029097;
    color: white;
}

.preguntas input[type='text']{
  font-size: 20px;
  padding: 10px;
  margin: auto;
  border-radius: 30px;
  width: 90%;

}

.pregunta {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
}

.pregunta button{
    background: #30EDCA;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.opciones input[type="radio"] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
.opciones input[type="radio"] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  .opciones input[type="radio"]:checked + img {
    outline: 2px solid #029097;
  }

  .opciones img{
    width: 100px;
  }

  .opciones .whatsapp:hover .seleccion{
    display: block!important;
  }

  /* .opciones .llamada:hover .seleccion{
    display: block!important;
  } */

  .opciones .email:hover .seleccion{
    display: block!important;
  }

  .seleccion{
    background-color: #029097;
    padding: 10px;
  }

  .seleccion a{
    color: white; 
    text-decoration: none;
  }

  .seleccion a:hover{
    text-decoration: underline;
  }

  .seleccion span{
    color: white; 
    text-decoration: none;
  }

  .seleccion span:hover{
    text-decoration: underline;
  }

  .reviews {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }

  .izquierda{
    position: absolute;
    left: 0;
    cursor: pointer;
    /* padding: 140px 10px;
    backdrop-filter: blur(10px); */
  }

  .derecha{
    position: absolute;
    right: 0;
    cursor: pointer;
    /* padding: 140px 10px;
    backdrop-filter: blur(10px); */
  }

  .review{
    box-shadow: 0px 0px 10px 6px gainsboro;
    max-width: 200px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 350px;
  }

  .review img{
    width: 100px;
  }
  
  .review .cliente{
    font-size: 18px;
    
  }

  .reviews i{
    font-size: 25px;
    background: #029097;
    color: white;
    border-radius: 30px;
    padding: 10px;
  }

  .box-video{
    position: relative;
    margin: 10px;
    padding: 10px;
  }


/*  VALIDACIÓN */

.formulario {
  width: 100%;
}

.formulario__label {
display: block;
font-weight: 700;
padding: 10px;
cursor: pointer;
}

.formulario__grupo-input {
position: relative;
}

.formulario__input {
width: 80%;
background: #fff;
border: 3px solid transparent;
border-radius: 3px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
}

.formulario__input:focus {
border: 3px solid #0075FF;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
font-size: 12px;
margin-bottom: 0;
display: none;
}

.formulario__input-error-activo {
display: block;
}

.formulario__validacion-estado {
position: absolute;
right: 10px;
bottom: 15px;
z-index: 100;
font-size: 16px;
opacity: 0;
  margin-right: 20px;
}

.formulario__checkbox {
margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
grid-column: span 2;
}

.formulario__mensaje {
height: 45px;
line-height: 45px;
background: #F66060;
padding: 0 15px;
border-radius: 3px;
display: none;
}

.formulario__mensaje-activo {
display: block;
}

.formulario__mensaje p {
margin: 0;
}

.formulario__grupo-btn-enviar {
display: flex;
flex-direction: column;
align-items: center;
}

.formulario__btn {
font-size: 20px;
  padding: 10px;
  background: #6B145A;
  color: white;
  font-weight: 800;
  border: 2px solid white;
  font-family: "Varela Round";
  cursor: pointer;
  border-radius: 30px;
transition: .1s ease all;
}

.formulario__btn:hover {
background: orange;
  color: black;
  box-shadow: 0px 0px 10px 6px white;
}

.formulario__mensaje-exito {
font-size: 14px;
color: #119200;
display: none;
}

.formulario__mensaje-exito-activo {
display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
color: #1ed12d;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
color: #bb2929;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
border: 3px solid #bb2929;
  width: 80%;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
.formulario {
  grid-template-columns: 1fr;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: 1;
}

.formulario__btn {
  width: 100%;
}
}

/* FIN VALIDACION */

@media (max-width: 850px) {
    .video .title-video{
      font-size: 20px!important;
    }

    .primera {
      height: auto;
    }

  }

  @media (min-width: 850px) {

    .caja-beneficios span{
      font-size: 20px!important
    }

  }

  @media (max-width: 480px) {
    .oferta {
      text-align: left;
    }

    .oferta h1, .oferta h2 {
      width: 70%;
      margin: 10px;
    }

    .primera {
      height: auto;
    }

    .modelo span{
      font-size: 16px;
    }

    .encabezado{
      background-image: url(storieprincipal.png)!important;
      }
  }